.for-padd{
    padding: 10px;
    margin: 15px;
}
*{
    padding: 0;
    margin: 0;
}
#datacontainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 3%;
    row-gap: 3%;
}
.datacontainerimg{
    width: 200px;
}